<div class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="lead">Kontakt</span>
                        </div>
                        <div class="col-xs-3">
                            <span class="lead">Utbildning</span>
                        </div>
                        <div class="col-xs-3">
                            <span class="lead">Repositories <i class="fa fa-github fa-lg" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></span>
                            <span> viktorolund@gmail.com</span>
                        </div>
                        <div class="col-xs-3">
                            <a href="https://www.umu.se/utbildning/program/hogskoleingenjorsprogrammet-i-elektronik-och-datorteknik-medicinsk-teknik">Högskoleingenjörsprogrammet i Elektronik och Datorteknik</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="https://github.com/viktorolund/CV">CV</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></span>
                            <span> 076 8240713</span>
                        </div>
                    </div>
                    <div class="row field-margin">
                        <div class="col-xs-10">
                            <small class="text-muted">Site design / logo © 2016 Viktor Ölund</small>
                        </div>
                    </div>
                </div>
                <div class="hidden-lg hidden-md">
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="lead">Kontakt</span>
                        </div>
                        <div class="col-xs-6">
                            <span class="lead">Utbildning</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></span>
                            <span> viktorolund@gmail.com</span>
                        </div>
                        <div class="col-xs-6">
                            <a href="https://www.umu.se/utbildning/program/hogskoleingenjorsprogrammet-i-elektronik-och-datorteknik-medicinsk-teknik">Högskoleingenjörsprogrammet i Elektronik och Datorteknik</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></span>
                            <span> 076 8240713</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <span class="lead">Repositories <i class="fa fa-github fa-lg" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <a href="https://github.com/viktorolund/CV">CV</a>
                        </div>
                    </div>
                    <div class="row field-margin">
                        <div class="col-xs-10">
                            <small class="text-muted">Site design / logo © 2016 Viktor Ölund</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
