<!DOCTYPE HTML>
<html lang="en" data-ng-app="cv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Viktor Ölund - Webbutvecklare</title>
        <link rel="shortcut icon" href="images/page_logo.ico" />

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/panel.css" />
   

        <!-- bower:css -->
        <!-- endbower -->

        <!-- bower:js -->
        <!-- endbower -->

        <script src="js/app/services/fullpage-config.js"></script>

        <script src="js/app/app.module.js"></script>
        <script src="js/app/main.controller.js"></script>

        <script src="js/app/services/interceptor.service.js"></script>
        <script src="js/app/services/data.service.js"></script>

        <script src="js/app/layout/timeline.controller.js"></script>
        <script src="js/app/layout/footer.directive.js"></script>
    </head>
    <body>
        <div data-ng-controller="mainController">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#page-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand hidden-xs"><img class="logo-small" src="images/page_logo.png"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="page-navbar">
                        <ul id="bsmenu" class="nav navbar-nav">
                            <li class="active">
                                <a href="" id="about">Om</a>
                            </li>
                            <li>
                                <a href="" id="knowledge">Kunskaper</a>
                            </li>
                            <li>
                                <a href="" id="career">Karriär</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="fullpage">
                <div class="section center-section" id="section0">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3">
                                        <span><i class="fa fa-code-fork fa-2x" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="row hidden-xs hidden-sm">
                                    <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6">
                                        <div>
                                            <strong>Jag heter Viktor Ölund och jobbar som webbutvecklare i AngularJS på Norrlands Universitetssjukhus</strong>
                                        </div>
                                        <div class="field-margin">
                                            <strong>Är 26 år och bor med min sambo på Öbacka Strand. På fritiden spenderar jag min tid på styrketräning, vänner och idrottsintressen.</strong>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <img src="images/viktorolund.jpg" class="img-size-md img-circle img-responsive" alt="viktor olund">
                                    </div>
                                </div>
                                <div class="hidden-lg hidden-md">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <img src="images/viktorolund.jpg" class="img-size-md img-circle img-responsive" alt="viktor olund">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <div>
                                                <strong>Jag heter Viktor Ölund och jobbar som webbutvecklare i AngularJS på Norrlands Universitetssjukhus</strong>
                                            </div>
                                            <div>
                                                <strong>Är 26 år och bor med min sambo på Öbacka Strand. På fritiden spenderar jag min tid på styrketräning, vänner och idrottsintressen.</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section" id="section1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- start:knowledge panel-group -->
                                <div class="panel-group" id="accordion">
                                    <!-- start:webb -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading collapsable" data-parent="#accordion" data-toggle="collapse" data-target="#webb">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle">Webb <i class="fa fa-chrome fa-lg" aria-hidden="true"></i></a>
                                            </h4>
                                        </div>
                                        <div id="webb" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>Javascript</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Node.js</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>AngularJS</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>jQuery</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>JSON</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Highcharts</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>XML</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>PHP</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>C#</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>html</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>CSS</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Bootstrap</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Font Awesome</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Less</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end:webb -->
                                    <!-- start:testing -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading collapsable" data-parent="#accordion" data-toggle="collapse" data-target="#testing">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed">Testing <i class="fa fa-check-circle fa-lg fa-icon-success" aria-hidden="true"></i></a>
                                            </h4>
                                        </div>
                                        <div id="testing" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>Javascript</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Jest Unit Testing</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>AngularJS</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <strong>Protractor end-to-end Testing</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end:testing -->
                                    <!-- start:proglang -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading collapsable" data-parent="#accordion" data-toggle="collapse" data-target="#proglang">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed">Programspråk och databaser <i class="fa fa-terminal fa-lg" aria-hidden="true"></i></a>
                                            </h4>
                                        </div>
                                        <div id="proglang" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>Java</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>Python</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>C</strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <strong>MySQL</strong>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end:proglang -->
                                </div>
                                <!-- end:knowledge panel-group -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section" id="section2">
                    <div data-ng-controller="timelineController">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <timeline>
                                        <timeline-event ng-repeat="event in events" side="{{event.side}}">
                                            <timeline-badge class="{{event.badgeClass}}">
                                                <i class="fa fa-code fa-lg" aria-hidden="true"></i>
                                            </timeline-badge>

                                            <timeline-panel class="{{event.badgeClass}}">
                                                <timeline-heading>
                                                <h4 ng-bind-html="event.title"></h4>

                                                <p ng-if="event.when">
                                                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                                                </p>
                                                <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
                                                </p>
                                                </timeline-heading>
                                                <p ng-bind-html="event.contentHtml"></p>
                                                <timeline-footer ng-if="event.footerContentHtml">
                                                    <span ng-bind-html="event.footerContentHtml"></span>
                                                </timeline-footer>
                                            </timeline-panel>
                                        </timeline-event>
                                    </timeline>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section fp-auto-height" id="section3">
                    <div page-footer></div>
                </div>
            </div>
        </div>
    </body>
</html>